{% load static i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="{% static 'assets/js/tailwind/tailwind.js' %}"></script>
        <script src="{% static 'assets/js/tailwind.config.js' %}"></script>
        <link href="{% static 'assets/css/flowbite/flowbite.min.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'assets/css/dark.css' %}" />
        <script src=" {% static 'assets/js/flowbite/flowbite.min.js' %}"></script>
    </head>
    <body class="bg-secondary-50 font-[Inter,_sans-serif]">
        {% if modal %}
            <div class="absolute top-4 right-4 z-50">
                <button type="button" onclick="closeModal();"
                    class="ttext-gray-500 hover:text-red-500 text-xl cursor-pointer">
                    <img src="{% static 'assets/icons/close.svg' %}" alt="Close" />
                </button>
            </div>
        {% endif%}
        <div class="p-4">
            <div class="bg-white rounded-xl [box-shadow:0px_0px_20px_0px_rgb(0_0_0_/_5%)] {% if not request.META.HTTP_HX_REQUEST %}h-[95vh]{% endif %} p-5 flex items-center justify-center">
                <div class="error-container flex flex-col items-center text-center">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
        <script>
            (function() {
                // Get theme from localStorage
                const theme = localStorage.getItem('theme');

                // If theme is dark, add 'dark' class to body
                if (theme === 'dark') {
                    document.documentElement.classList.add('dark');
                    // Also add to body when it's available
                    if (document.body) {
                        document.body.classList.add('dark');
                    } else {
                        document.addEventListener('DOMContentLoaded', function() {
                            document.body.classList.add('dark');
                        });
                    }
                }
            })();
        </script>
    </body>
</html>
