{% load static  i18n %}
{% load horilla_tags %}
<div id="messages-container" style="display: none;">
  {% for message in messages %}
      <div class="message" data-level="{{ message.tags }}" data-message="{{ message }}"></div>
  {% endfor %}
</div>
<ul class="probar flex text-sm" id="kanban-choices">
    {% for choice in pipeline_choices %}
      <li class="flex-auto relative {% if can_update %}cursor-pointer{% else %}cursor-not-allowed{% endif %}">
        <div class="{% if can_update %}hover:text-white{% endif %} {% if choice.4 %}bg-primary-400 text-primary-600 {% if can_update %}hover:bg-primary-600{% endif %} font-bold
            {% elif choice.2 %}bg-[#40ce2d2c] text-[#3dcf2a] {% if can_update %}hover:bg-[#62cb54]{% endif %}
            {% elif choice.3 %}bg-[#3f86e43a] text-[#3f86e4] {% if can_update %}hover:bg-[#528ddb]{% endif %}
            {% else %}bg-[#F0F0F0] text-[#666] {% if can_update %}hover:bg-[#838181]{% endif %}{% endif %}
            ps-8 px-3 py-1.5 w-full whitespace-nowrap transition duration-300
          inline-block px-8 py-2 text-center w-full [clip-path:polygon(100%_50%,90%_0%,0%_0%,10%_50%,0%_100%,90%_100%)]"
          {% if can_update %}
            {% if choice.4 and final_stage_action %}
              {% for key, value in final_stage_action.items %}
                {% if key != "title" %}
                      {{ key }}="{{ value|safe }}"
                  {% endif %}
              {% endfor %}
            {% else %}
              hx-post="{% url 'horilla_generics:update_pipeline' pk=obj.id %}"
              hx-vals='{"pipeline_update": "true","pipeline_value": "{{ choice.1 }}","model_name": "{{model_name }}","app_label": "{{ app_label }}","pipeline_field": "{{ pipeline_field }}"}'
              hx-target="#kanban-choices"
              hx-trigger="confirmed"
              hx-swap="outerHTML"
              hx-on:click="hxConfirm(this,'Are you sure you want to change the <span class=&quot;text-primary-600&quot;>{{pipeline_field_verbose_name}}</span> to <span class=&quot;text-primary-600&quot;>{{ choice.0 }}</span> ?');"
              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            {% endif %}
          {% endif %}>
           {% trans choice.0 %}
        </div>
      </li>

    {% endfor %}
  </ul>
  {% if pipeline_update %}
  <script>$('#reloadButton').click();</script>
  {% endif %}
